<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liren.problem.mapper.ProblemTagRelationMapper">
    <insert id="saveBatch">
        insert into tb_problem_tag_relation (problem_id, tag_id)
        values
        <foreach collection="relationList" item="entity" separator=",">
            (#{entity.problemId}, #{entity.tagId})
        </foreach>
    </insert>
</mapper>